@import "variables";

.headerContainer {
    background-color: $second-color;
    border-radius: 0 0 30px 30px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2VW;

        .menu {
            color: $third-color;
            padding: 0 2vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: $md-breakpoint) {
                width: 100%;
            }

            h1 {
                &:hover {
                    cursor: pointer;
                }
            }

            .i {
                &:hover {
                    cursor: pointer;
                }
            }

        }

        .nav-center {
            display: flex;
            justify-content: center;

            .navList {
                width: 35vw;
                display: flex;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    color: #F6F5EC;

                    &:hover {
                        color: $third-color;
                    }
                }
            }
        }
    }
}